///main

.ant-btn {
  width: 280px;
  height: 40px;
  border-radius: 6px;
  border-color: #fbb034;
  background-color: #fbb034;
  .butText {
    width: 232px;
    height: 24px;
    font-family: OpenSans;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #1e1e1f;
  }
}

.button {
  margin-top: 30px;
}

//users

.cancelButton {
  width: 120px;
  border: none;
  cursor: pointer;
  float: left;
  margin-top: 50px;
  margin-left: 480px;
  border: solid 1px #939598;
  background-color: white;
}

.btnUsersForm {
  width: 120px;
  border: none;
  cursor: pointer;
  float: right;
  margin-top: -63px;
  margin-right: 40px;
}

.buttonAdd {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: white;
  .textBtn {
    color: #2c71d1;
  }
}

.refreshButton {
  width: 132px;
  height: 32px;
  cursor: pointer;
  float: left;
  border: solid 1px #939598;
  background-color: white;
  float: right;
  margin-right: 60px;
  margin-top: 20px;
}
