.ant-layout-footer {
  background-color: transparent;
  .footerText {
    display: inline-block;
    white-space: nowrap;
    width: 188px;
    height: 16px;
    font-family: OpenSans;
    font-size: 14px;
    line-height: 1.33;
    color: #6f7073;
    margin-left: 20px;
    margin-top: 60px;
  }
  .secondFooterText {
    display: inline-block;
    width: 76px;
    height: 16px;
    font-family: OpenSans;
    font-size: 12px;
    line-height: 1.33;
    color: #6f7073;
    margin-left: 750px;
    margin-top: 60px;
  }
  .st {
    width: 100px;
    height: 40px;
  }
}
