.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 380px;
  object-fit: contain;
  border-radius: 8px;
  border: solid 1px #ebe9e6;
  padding: 32px 40px 40px 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 200px;
}

.formAdd {
  width: 370px;
  height: 600px;
  object-fit: contain;
  border-radius: 8px;
  border: solid 1px #ebe9e6;
  padding: 32px 40px 40px 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 200px;
}

.usersAddForm {
  background-color: white;
  width: 800px;
  height: 600px;
  border-radius: 8px;
  border: solid 1px #ebe9e6;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  // overflow: hidden;
  box-sizing: border-box;
}

.docAddForm {
  background-color: white;
  width: 800px;
  height: 300px;
  border-radius: 8px;
  border: solid 1px #ebe9e6;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.docEditForm {
  background-color: white;
  width: 800px;
  height: 300px;
  border-radius: 8px;
  border: solid 1px #ebe9e6;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.userEditForm {
  background-color: white;
  width: 800px;
  height: 625px;
  border-radius: 8px;
  border: solid 1px #ebe9e6;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.newPasswordForm {
  background-color: white;
  width: 800px;
  height: 400px;
  border-radius: 8px;
  border: solid 1px #ebe9e6;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.sfoAdd {
  background-color: white;
  width: 900px;
  height: 1050px;
  border-radius: 8px;
  border: solid 1px #ebe9e6;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.sfoEdit {
  background-color: white;
  width: 900px;
  height: 1075px;
  border-radius: 8px;
  border: solid 1px #ebe9e6;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.ant-form-item-label {
  text-align: left;
}

.ant-form-item-label > label::after {
  content: none;
}

.ant-col-14 {
  margin-top: 15px;
}

.ant-form-item-control {
  margin-left: 20px;
}

.firstSection {
  border-radius: 8px;
  border: solid 1px #ebe9e6;
  width: 700px;
  height: 500px;
  margin-left: 24px;
  margin-top: 10px;
}

.firstSectionEdit {
  border-radius: 8px;
  border: solid 1px #ebe9e6;
  width: 700px;
  height: 525px;
  margin-left: 24px;
  margin-top: 10px;
}

.secondSection {
  border-radius: 8px;
  border: solid 1px #ebe9e6;
  width: 700px;
  height: 300px;
  // margin: 0 auto;
  margin-left: 24px;
  margin-top: 10px;
}

.ant-form-item-control-wrapper {
  background-color: white;
}
