.ant-layout-header {
  background-color: white;
  height: 60px;
}

.ant-btn-background-ghost {
  width: 20px;
  height: 20px;
  margin-left: 750px;
}

.anticon-logout {
  color: grey;
}

.ant-typography {
  white-space: nowrap;
}

.ant-typography {
  margin-left: 10px;
}
