.ant-input {
  width: 280px;
  height: 40px;
  border-radius: 6px;
  border: solid 1px #d1d0cf;
  background-color: white;
  margin-left: 10px;
  //margin: 8px 0;
}

.homeInput {
  margin-bottom: 10px;
}
