.ant-layout {
  background-color: transparent;
}

#root {
  // height: 100%;
  min-height: 100%;
  background-color: #f7f6f5;
}
.myLayout {
  width: 100%;
  height: 100%;
  // min-height: 100%;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
