.myLayout {
  .logo {
    width: 220px;
    height: 115px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .modul {
    width: 100%;
    height: 48px;
    font-family: OpenSans;
    font-size: 32px;
    line-height: 1.5;
    color: #6f7073;
    text-align: center;
    white-space: nowrap;
  }
  .loginForm {
    .textLogin {
      width: 100%;
      height: 32px;
      text-align: center;
      font-family: OpenSans;
      font-size: 24px;
      font-weight: 600;
      line-height: 1.33;
      color: #1e1e1f;
    }
    .secondText {
      width: 52px;
      height: 16px;
      font-family: OpenSans;
      font-size: 14px;
      line-height: 1.14;
      color: #727376;
    }
    .validationText {
      font-family: OpenSans;
      font-size: 14px;
      color: red;
    }
  }
}
