.ant-layout-sider-children {
  background-color: white;
  border: solid 1px #ebe9e6;
  overflow: auto;
  height: 100vh;
  width: 200px;
  position: fixed;
  left: 0;
  // z-index: 3;
}

.minLogo {
  width: 36px;
  height: 36px;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
