.sfoTable {
  background-color: white;
  margin-left: 40px;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: 40px;
  border-radius: 8px;
  border: solid 1px #ebe9e6;
}

.ant-table-header-column {
  font-family: OpenSans;
  color: #6f7073;
  font-size: 15px;
}

.ant-table-row {
  color: #1e1e1f;
  font-family: OpenSans;
  font-size: 16px;
}
