.add {
  font-size: 24px;
  font-family: OpenSans;
  color: #1e1e1f;
  line-height: 1.33;
  font-weight: 600;
  margin-left: 20px;
  margin-top: 30px;
}

.addSfoTable {
  width: 496px;
  height: 32px;
  font-size: 24px;
  font-family: OpenSans;
  color: #1e1e1f;
  line-height: 1.33;
  font-weight: 600;
  margin-left: 40px;
  box-sizing: border-box;
}

.ant-form-item-label {
  margin-left: 20px;
  margin-top: 10px;
  white-space: pre-wrap;
  line-height: 1.25;
  font-size: 16px;
  font-family: OpenSans;
}

.addBtnText {
  width: 72px;
  height: 24p;
  font-family: OpenSans;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #1e1e1f;
}

.mainTextForm {
  width: 241px;
  height: 32px;
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.78;
  color: #1e1e1f;
  margin-left: 24px;
  margin-top: 24px;
}
